# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# Flask cache and session data
*.log
*.sqlite3
*.db
*.bak

# Pytest cache
.pytest_cache/

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Pipenv files
Pipfile.lock

# Migrations
migrations/

# Static files generated during runtime
staticfiles/