
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
{% endblock %}


{% block content %}
     <div class="homepage-container">
        <!-- countdown section -->
        <div id="setup-area">
            <h3 class="timer_text">Focus time (min)</h3>
            <div class="time-selector">
              <button class="round-btn" id="focus-minus">−</button>
              <input type="number" id="focus-time" min="1" max="180" value="50" onchange="updateTimeFromInput('focus')">
              <button class="round-btn" id="focus-plus">＋</button>
            </div>
        
            <h3 class="timer_text">Break time (min)</h3>
            <div class="time-selector">
              <button id="break-minus">−</button>
              <input type="number" id="break-time" min="1" max="180" value="10" onchange="updateTimeFromInput('break')">
              <button id="break-plus">＋</button>
            </div>

        
            <button class="timer_text" id="start-btn">Start</button>
          </div> 
        
          <!-- floating-timer -->
          <div id="floating-timer" class="floating-timer">
            <div class="timer_text" id="countdown-display">00:00</div>
            <div class="floating-controls">
              <button is="pause-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="pause-path" fill="#fff" d="M23 2v20h-1v1h-7v-1h-1V2h1V1h7v1zM9 2h1v20H9v1H2v-1H1V2h1V1h7z" />
            </svg></button>
              <button id="reset-btn"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                <path fill="#fff" d="M2 12c0-4.714 0-7.071 1.464-8.536C4.93 2 7.286 2 12 2s7.071 0 8.535 1.464C22 4.93 22 7.286 22 12s0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12" />
            </svg></button>
            </div>
          </div>

          <!-- completed popup window -->
          <div id="popup-window" class="popup-window">
            <div id="completed_time" class="timer_text">00:00</div>
            <div id="completed_text" class="timer_text">🎉 congratulations! 🎉<br> you've been working hard! </div>
            <div class="popup_close">
                <button class="timer_text" id="break-btn">Take a Break</button>
                <button class="timer_text" id="close-btn">Close</button>
            </div>
          </div>

          <div id="break-window" class="break-window">
            <div id="completed_break" class="timer_text">Did you have a good stretch? Wanna continue?</div>
            <div class="break_btn">
                <button class="timer_text" id="continue-btn">Yes</button>
                <button class="timer_text" id="close-btn">Close</button>
            </div>
          </div>

        <!-- Goal setup section -->
        <div class="todo-container" id="todo-container">
          <div class="todo-header">

            <input type="text" id="task-input" placeholder="Let's crush some tasks today!" />
            <button id="add-btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256">
              <path fill="#fff" d="M34 64a6 6 0 0 1 6-6h176a6 6 0 0 1 0 12H40a6 6 0 0 1-6-6m6 70h176a6 6 0 0 0 0-12H40a6 6 0 0 0 0 12m104 52H40a6 6 0 0 0 0 12h104a6 6 0 0 0 0-12m88 0h-18v-18a6 6 0 0 0-12 0v18h-18a6 6 0 0 0 0 12h18v18a6 6 0 0 0 12 0v-18h18a6 6 0 0 0 0-12" />
            </svg></button>
          </div>
      
          <div class="filters">
            <div class="filter-group">
              <button class="filter active" data-filter="all">All</button>
              <button class="filter" data-filter="active">Active</button>
              <button class="filter" data-filter="completed">Completed</button>
            </div>
          
            <div class="toggle-container">
              <button id="toggle-task-list">Hide</button>
            </div>
            
          </div>
          <ul class="task-list"></ul>
      </div>

        <!-- TODO: background section -->
        
  <!-- GIF div -->
  <div id="bg-gif" style="background-image: url('{{ url_for('static', filename='gifs/chill.gif') }}');"></div>

<!-- control pannel -->
<div class="audio-widget" id="audio-widget">
    <div>
      <button id="toggle-mute">Unmute</button>
    </div>
  
    <label for="volume-range">Volume:</label>
    <input type="range" id="volume-range" min="0" max="1" step="0.01" value="0" />
  
    <label for="bg-select">Background:</label>
    <select id="bg-select">
      <option value="chill.gif">Cozy</option>
      <option value="forest.gif">Forest</option>
      <option value="rainycamp.gif">Rainy Day</option>
      <option value="fox.gif">Fox Shrine</option>
      <option value="fireplace.gif">Fireplace</option>
      <option value="sunset.gif">Sunset</option>
    </select>
  
    <label for="music-select">Music:</label>
    <select id="music-select">
      <option value="Hiphoplofi.mp3">Lofi</option>
      <option value="forest.mp3">Forest</option>
      <option value="rainsound.mp3">Rain</option>
      <option value="RainyLofi.mp3">RainyLofi</option>
      <option value="thunder.mp3">Thunder</option>
      <option value="wind.mp3">Wind</option>
      <option value="guitar.mp3">Guitar Music</option>
    </select>
  
    <audio id="bg-audio" autoplay muted loop>
      <source src="{{ url_for('static', filename='audio/Hiphoplofi.mp3') }}" type="audio/mp3" />
      Your browser does not support audio.
    </audio>
  </div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/mainpage.js') }}"></script>
{% endblock %}
