{% block extra_header %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/studyplan.css') }}">
{% endblock %}

{% block content %}
<h1 class="page-title">My Study Plan</h1>

<div class="input-container">
    <input type="text" class="study-input" id="studyInput" placeholder="Let's crush some tasks today!">
    <button class="add-btn" id="addButton">Add</button>
</div>

<div class="tabs">
    <div class="tab active" id="openTab">Open Goals</div>
    <div class="tab" id="completedTab">Completed Goals</div>
</div>

<div class="task-container" id="openTasks">
    <!-- Open tasks will be displayed here -->
   
</div>

<div class="task-container" id="completedTasks" style="display: none; ">
    <!-- Completed tasks will be displayed here -->
</div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/studyplan.js') }}"></script>
{% endblock %}